* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #81ecec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font-size: 2.5em;
    margin-top: 25px;
}

main {
    width: 70vh;
    height: 60vh;
    border: 3px solid #00b894;
    background-color: #00cec9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    padding: 10px;
}

footer {
    background-color: gray;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.score {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
}

.answers {
    font-size: 1.4rem;
    width: 55%;
    height: 25%;
    margin-bottom: 60px;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.answers-mini-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-flow: column; */
}

.answer {
    height: 50px;
    width: 110px;
    border: 2px solid #00b894;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none ;
}

.answer:hover {
    background-color: opac;
    opacity: 0.3;
    border: 2px solid #000000;
    transition: 300ms;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.count {
    color: black;
}

.question {
    padding: 0 50px;
    font-size: 1.3rem;
    text-align: center;
}

.fa-undo {
    position: relative;
    top: 3.5rem;
    font-size: 1.5rem;
}

.fa-forward {
    position: relative;
    top: 3rem;
    font-size: 2rem;
    color: green;
    display: none;
}

.fa-undo:hover {
    color: black;
    cursor: pointer;
    transition: 700ms;
}